*.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.build/
Packages/
Package.pins
Package.resolved
Pods/
*.lock
Carthage/Build/
Resources/GoogleService-Info.plist
Info.plist
*.xcarchive

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

.DS_Store

*.moved-aside
*.swp
*.swo