# macOS
*.DS_Store

# Xcode
build/ DerivedData/ *.xcuserstate *.xcscmblueprint *.xcworkspace/xcuserdata/ *.xcodeproj/xcuserdata/

# Swift Package Manager
.build/ Packages/ Package.pins Package.resolved

# CocoaPods
Pods/ *.lock
# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml fastlane/Preview.html fastlane/screenshots/**/*.png fastlane/test_output/

# Archives
*.xcarchive

# Firebase/Google Configuration
GoogleService-Info.plist

# Others
*.moved-aside *.swp *.swo
